/* la mise en page pour tout le site */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: justify;
  word-wrap: break-word;
}

h5 {font-size: 24px;}

h1, h3 {font-weight: bold; margin: 30px 0;}

.stats {
  background-color: aliceblue;
}

li .dropdown-item {font-size: 22px;}

@media(max-width: 768px) {
  body .img-box {width: 100%; left: 0px;}
  .medium-title {align-items: flex-end;}
}

/* tout ce qui concerne la barre de navigation */

#sujet {
  font-size: 28px;
  font-style: italic;
  background-color: white;
  color:rgb(3, 131, 103);
  line-height: 50px;
  text-align: center;
  padding: 5px;
}

nav {
  background-color: rgb(3, 131, 103);
}

.navbar-brand, .nav-item {
  font-size: 26px;
  margin-left: 15px;
}

.nav-link, .navbar-brand {
    color: white;
}

/* la page contacts.html */

.qr {
  padding: 20px 0px;
}

thead, tbody {
  text-align: center;
}

table {
  margin: 30px 0px;
}

footer {
  display: flex;
  justify-content: space-between;
}

#score {
  text-align: left;
  border: 1px solid black;
  padding: 12px 20px;
  height: 50px;
  width: 50px;
  margin-left: 50px;
}

#add {
  width: 50px;
  height: 50px;
}

footer > div {
  padding-top: 10px;
}

/* pour tous les images */

.img-box {
  position: relative;
  left: 50px;
  width: 60%;
}

img {
  max-width: 100%;
  margin-bottom: 10px;
}

.image-text {
  font-style: italic;
  font-size: 22px;
}

/*pour la page team.html*/
#team {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10% 0 0 0;
}

.teamPhoto {
  border: 10px double rgb(3, 131, 103);
  border-radius: 20px;
}
#photoTeam {
  width: 50%; 
  margin-top: 10px;
  margin-right: 20px;
  float: left;}
.teamPre {width: 35%;}

.nom {
  text-align: center;
  margin: 5% 0;
  font-weight: bold;
  color: rgb(3, 131, 103);
}
#team p {font-size: 18px;}
#team p strong {color: rgb(3, 131, 103);}


/*pour la page presentation.html*/
.presentationProjet p:nth-child(5) {text-align: end;}

/* pour les menus deroulants sur les pages pour.html et contre.html */
.small-title ~ p {
  display: none;
}

.small-title ~ ul {
  display: none;
}

.small-title ~ blockquote {
  display: none;
}
.small-title ~ input{
  display: none;
}

.small-title {
  cursor: pointer;
  background-color:rgb(3, 131, 103);
  color: white;
  border-radius: 5px;
  line-height: 50px;
  padding: 0px 10px;
  border: solid white 1px;
  margin: 20px 0;
}

.small-title:hover {
  color:rgb(3, 131, 103);
  background-color: aliceblue;
  border: solid rgb(3, 131, 103) 1px;
}

.medium-title ~ div, .medium-title ~ p {
  display: none;
}

.medium-title {
  cursor: pointer;
  color:rgb(3, 131, 103);
  border-radius: 5px;
  border: solid rgb(3, 131, 103) 3px;
  padding: 10px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
}

.medium-title > span {
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  margin: 0px 10px;
  color: gray;
}

.medium-title:hover {
  color: white;
  background-color: rgb(3, 131, 103);
  border: transparent white 3px;
}

.reduire {
  display: none;
  background-color: transparent;
  border: solid rgb(3, 131, 103) 1px;
  color:rgb(3, 131, 103);
}

.reduire:hover {
  color: greenyellow;
  border: solid white 1px;
  text-decoration: underline;
}
