/* la mise en page pour tout le site */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: justify;
}

h5 {font-size: 24px;}

h1, h3 {font-weight: bold; margin: 30px 0;}

.stats {
  background-color: aliceblue;
}

@media(max-width: 768px) {
  body {font-size: 28px;}
  body .img-box {width: 90%;}
  h1 {font-size: 40px; font-weight: bold;}
  h3 {font-size: 38px; font-weight: bold;}
  h5 {font-size: 32px;}
  li .dropdown-item {font-size: 28px;}
  .nav-item {font-size: 30px;}
  .navbar-brand {font-size: 36px;}
}

/* tout ce qui concerne la barre de navigation */

nav {
  background-color: rgb(3, 131, 103);
}

.navbar-brand, .nav-item {
  font-size: 26px;
  margin-left: 15px;
}

.nav-link, .navbar-brand {
    color: white;
}

/* la page contacts.html */

.qr {
  padding: 20px 0px;
}

thead, tbody {
  text-align: center;
}

table {
  margin: 30px 0px;
}

footer {
  display: flex;
  justify-content: space-between;
}

#score {
  text-align: left;
  border: 1px solid black;
  padding: 12px 20px;
  height: 50px;
  width: 50px;
  margin-left: 50px;
}

#add {
  width: 50px;
  height: 50px;
}

footer > div {
  padding-top: 10px;
}

/* pour tous les images */

.img-box {
  position: relative;
  left: 50px;
  width: 60%;
}

img {
  max-width: 100%;
  margin-bottom: 10px;
}

.image-text {
  font-style: italic;
  font-size: 22px;
}

/*pour la page team.html*/
#team {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10% 0 0 0;
}

.teamPhoto {
  border: 5px solid ;
  border-radius: 10px;
}

.teamPre {width: 30%;}

/* pour les menus deroulants sur les pages pour.html et contre.html */
.small-title ~ p {
  display: none;
}

.small-title {
  cursor: pointer;
  background-color:rgb(3, 131, 103);
  color: white;
  border-radius: 5px;
  height: 50px;
  padding: 5px;
}

.small-title:hover {
  color:rgb(3, 131, 103);
  background-color: aliceblue;
}