nav {
    background-color: rgb(3, 131, 103);
  }

.nav-link, .navbar-brand {
    color: white;
}

.qr {
  padding: 20px 0px;
}

thead, tbody {
  text-align: center;
}

table {
  margin: 30px 0px;
}

footer {
  display: flex;
  justify-content: space-between;
}

#score {
  text-align: left;
  border: 1px solid black;
  padding: 12px 20px;
  height: 50px;
  width: 50px;
  margin-left: 50px;
}

#add {
  width: 50px;
  height: 50px;
  background-color: yellow;
  color: red;
  font-size:xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  border: solid 1px;
}

#add:hover {
  background-color: gold;
  color: darkred;
  border: solid 2px;
}

footer > div {
  padding-top: 10px;
}

span {
  height: 85px;
}