/* Start implementing dark mode */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: justify;
  word-wrap: break-word;
  color: black;
  background-color: white;
}

/* Dark theme */
body.dark-theme {
  background-color: rgb(1, 37, 30);
  color: white;
}

body.dark-theme img {
  filter: brightness(.8) contrast(1.2);
}

/* If user's system is in dark mode by default */
@media (prefers-color-scheme: dark) {
  body { 
    background-color: rgb(1, 37, 30);
    color: white;
  }

  img {
      filter: brightness(.8) contrast(1.2);
    }

  /* Override with a light theme */
  body.light-theme
  {
    color: black;
    background-color: white;

  }

  body.light-theme img {
      filter: brightness(1) contrast(1);
    }
}

.darkmode {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mode {
  margin:10px;
}

/* End dark mode */

h5 {font-size: 24px;}

h1, h3 {font-weight: bold; margin: 30px 0;}

.stats {
  background-color: aliceblue;
}

li .dropdown-item {font-size: 22px;}

@media(max-width: 768px) {
  body .img-box {width: 100%; left: 0px;}
}

/* tout ce qui concerne la barre de navigation */

#sujet {
  font-size: 28px;
  font-style: italic;
  background-color: white;
  color:rgb(3, 131, 103);
  line-height: 50px;
  text-align: center;
  padding: 5px;
}

nav {
  background-color: rgb(3, 131, 103);
  margin-bottom: 20px;
}

.navbar-brand, .nav-item {
  font-size: 26px;
  margin-left: 15px;
}

.nav-link, .navbar-brand {
    color: white;
}

/* la page contacts.html */

.qr {
  padding: 20px 0px;
}

thead, tbody {
  text-align: center;
}

table {
  margin: 30px 0px;
}

footer {
  display: flex;
  justify-content: space-between;
}

#score {
  text-align: left;
  border: 1px solid black;
  padding: 12px 20px;
  height: 50px;
  width: 50px;
  margin-left: 50px;
}

#add {
  width: 50px;
  height: 50px;
}

footer > div {
  padding-top: 10px;
}

/* pour tous les images */

.img-box {
  position: relative;
  left: 50px;
  width: 60%;
}

img {
  max-width: 100%;
  margin-bottom: 10px;
}

.image-text {
  font-style: italic;
  font-size: 22px;
}

/*pour la page team.html*/
#team {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10% 0 0 0;
}

.teamPhoto {
  border: 10px double rgb(3, 131, 103);
  border-radius: 20px;
}
#photoTeam {
  width: 50%; 
  margin-top: 10px;
  margin-right: 20px;
  float: left;}
.teamPre {width: 35%;}

.nom {
  text-align: center;
  margin: 5% 0;
  font-weight: bold;
  color: rgb(3, 131, 103);
}
#team p {font-size: 18px;}
#team p strong {color: rgb(3, 131, 103);}


/*pour la page presentation.html*/
.presentationProjet p:nth-child(5) {text-align: end;}

/* pour les menus deroulants sur les pages pour.html et contre.html */

/* don't display the text after titles by default */
.small-title ~ p {
  display: none;
}

.small-title ~ ul {
  display: none;
}

.small-title ~ blockquote {
  display: none;
}
.small-title ~ input {
  display: none;
}

.medium-title ~ div, .medium-title ~ p {
  display: none;
}


/* titles' styles */
.small-title {
  cursor: pointer;
  background-color:rgb(3, 131, 103);
  color: white;
  border-radius: 5px;
  line-height: 50px;
  padding-left: 10px;
  border: solid white 1px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.medium-title {
  cursor: pointer;
  color:rgb(3, 131, 103);
  border-radius: 5px;
  border: solid rgb(66, 136, 121) 3px;
  padding: 10px 0px 10px 10px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* expand arrow styles */
.small-title img {
  height: 30px;
  filter: invert();
  margin-left: 15px;
  margin-top: 5px;
}

.medium-title img {
  filter: invert(50%)
}

.medium-title > span, .small-title > span {
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  min-width: 50px;
  height: 50px;
}

/* change title colors on hover if the screen is not a touchpad */
@media(hover: hover) {
  .small-title:hover {
    color:rgb(3, 131, 103);
    background-color: aliceblue;
    border: solid rgb(3, 131, 103) 1px;
  }

  .small-title:hover img {
    filter: invert(50%);
  }

  .medium-title:hover img {
    filter: invert();
  }

  .medium-title:hover {
    color: white;
    background-color: rgb(3, 131, 103);
    border: transparent white 3px;
  }
}

.reduire {
  display: none;
  background-color: transparent;
  border: solid rgb(3, 131, 103) 1px;
  color:rgb(3, 131, 103);
}

.reduire:hover {
  color: greenyellow;
  border: solid white 1px;
  text-decoration: underline;
}

/* The switch - the box around the dark-mode slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(3, 131, 103);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(3, 131, 103);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
